<footer class=" text-light footer">
    <div class="container p-5">
      <div class="row py-4">
        <div class="col-md-3">
          <img src="assets/BacBon-Smart-Solution-v2-1024x313.png" alt="Company Logo" class="img-fluid logo">
          <div class="py-5">
            <p class=""> <i class="fa-solid fa-envelope"></i> info@bacbonltd.com </p>
            <p><i class="fa-solid fa-phone"></i> +880 1797889756</p>
          </div>
        </div>

        <div class="col-md-3 col-6">
          <h5 class="fw-bold text-white">Company</h5>
          <ul class="list-unstyled  ">
            <li><a routerLink="/about" class="text-decoration-none ">About Us</a></li>
            <li><a href="#" class="text-decoration-none ">Our Teams</a></li>
            <li><a href="#" class="text-decoration-none ">Our Solutions</a></li>
            <li><a href="#" class="text-decoration-none ">Project Details</a></li>
            <li><a href="#" class="text-decoration-none ">Latest Projects</a></li>
            <li><a routerLink="/contact" class="text-decoration-none ">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-6 text-dark">
          <h6 class="fw-bold text-white">Solutions</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none ">Lead Solution</a></li>
            <li><a href="#" class="text-decoration-none ">Business Commercial</a></li>
            <li><a href="#" class="text-decoration-none ">Drivers & Personal Use</a></li>
            <li><a href="#" class="text-decoration-none ">Government & Utilities</a></li>
            <li><a href="#" class="text-decoration-none ">Public Charging Stations</a></li>
            <li><a href="#" class="text-decoration-none ">Battery Maintenance</a></li>
          </ul>
        </div>
        <div class="col-md-3 text-dark">
          <h6 class="fw-bold text-white">Industries</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none ">Workplaces</a></li>
            <li><a href="#" class="text-decoration-none ">Retail & Hospitality</a></li>
            <li><a href="#" class="text-decoration-none ">Drivers & Personal Use</a></li>
            <li><a href="#" class="text-decoration-none ">Commercial Parking</a></li>
            <li><a href="#" class="text-decoration-none ">Fuel Retailers</a></li>
            <li><a href="#" class="text-decoration-none ">Fleets</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="d-inline-flex justify-content-between col-md-12">
        <p class="fw-lighter text-secondary fs-6">© All rights reserved 2022</p>
        <p class="fw-lighter text-secondary fs-6">Made with ❤ by Bacbon</p>
      </div>
    </div>
  </footer>