<div class="container-fluid">
    <div class="row">
      <div class="col-md-12" *ngIf="signageBackgroundImage !=null">
        <img [src]="'http://localhost:8000/Signage intro/' + signageBackgroundImage" class="imagebanner" alt="Snow" />
        <div class="centered">
          <h1></h1>
          <span class="signage">{{title}}</span>
          <div class="d-flex">
            <i class="fa fa-video fa-3x text-info"></i>
            <a href="https://youtu.be/t-LLCYKQsSc" class="text-decoration-none text-dark">
              <h4>{{header}}</h4>
            </a>
          </div>
        </div>
        <div class="container">
          <div class="row d-flex justify-content-center align-items-center mid_image">
            <img [src]="'http://localhost:8000/Signage intro/' + signageFrontendImage" class="w-25" alt="Flat Panel Image" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5 mb-5 p-5">
    <div class="row mt-5">
      <div class="col-md-3">
        <div class="d-flex justify-centent-center align-items-center">
          <img src="./assets/wi-fi-g2520c6c04_1280.png" width="50px" />
        </div>
        <div class="mt-3 d-flex justify-centent-center align-items-center">
          <strong>Wifi</strong>
        </div>
        <div class="mt-3 d-flex justify-centent-center align-items-center">
          <p class="text-muted">In Built</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="d-flex justify-centent-center align-items-center">
          <img src="./assets/620161957_max-removebg-preview.png" width="50px" />
        </div>
        <div class="mt-3 d-flex justify-centent-center align-items-center">
          <strong>Infrared touch</strong>
        </div>
        <div class="mt-3 d-flex justify-centent-center align-items-center">
          <p class="text-muted">10 Points</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="d-flex justify-centent-center align-items-center">
          <img src="./assets/monitor-313011_1280-removebg-preview.png" width="50px" />
        </div>
        <div class="mt-3 d-flex justify-centent-center align-items-center">
          <strong>CMS publishing</strong>
        </div>
        <div class="mt-3 d-flex justify-centent-center align-items-center">
          <p class="text-muted">Support</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="d-flex justify-centent-center align-items-center">
          <img src="./assets/unnamed-removebg-preview.png" width="50px" />
        </div>
        <div class="mt-3 d-flex justify-centent-center align-items-center">
          <strong>Split screen play</strong>
        </div>
        <div class="mt-3 d-flex justify-centent-center align-items-center">
          <p class="text-muted">Multiple</p>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6">
        <div class="d-flex justify-centent-center align-items-center">
          <img src="./assets/front-back-measure.png" width="400px" />
        </div>
      </div>
      <div class="col-md-6">
        <h3>{{title}}</h3>
        <p class="text-muted">{{description}}</p>

        <div class="d-sm-flex" *ngFor="let it of itemList">
          <i class="bi bi-check-circle-fill text-info text-start"></i>
          <p class="ms-2">
             {{it.name}}
          </p>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center mt-5">
      <div class="col-md-10">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
          <!-- Indicators/dots -->
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
          </div>

          <!-- The slideshow/carousel -->
          <div class="carousel-inner">
            <div class="carousel-item active" *ngIf="image_one !=null">
              <img [src]="'http://localhost:8000/Signage slide/' + image_one" alt="Los Angeles" class="d-block rounded-2"
                style="width: 100%" />
              <div class="carousel-caption"></div>
            </div>
            <div class="carousel-item" *ngIf="image_two !=null">
              <img [src]="'http://localhost:8000/Signage slide/' + image_two" alt="Chicago" class="d-block rounded-2"
                style="width: 100%" />
              <div class="carousel-caption"></div>
            </div>
            <div class="carousel-item" *ngIf="image_three !=null">
              <img [src]="'http://localhost:8000/Signage slide/' + image_three" alt="New York" class="d-block rounded-2"
                style="width: 100%" />
              <div class="carousel-caption"></div>
            </div>
          </div>

          <!-- Left and right controls/icons -->
          <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 d-flex justify-centent-center align-items-center">
        <h2 class="mb-5">{{specifictionTitle}}</h2>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Features</th>
                <th>86 inch IFP</th>
                <th>75 inch IFP</th>
                <th>65 inch IFP</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sl of specificationList">
                <td>{{sl.feature}}</td>
                <td>{{sl.inch_86_ifp}}</td>
                <td>{{sl.inch_75_ifp}}</td>
                <td>{{sl.inch_65_ifp}}</td>
              </tr>
 
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row d-flex">
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9 rounded-3">
          <iframe class="embed-responsive-item" [src]="link_name"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <h3 class="mt-5 d-flex mb-3">Resources</h3>
      <div class="bg-success">
        <hr class="" />
      </div>
      <div class="col-md-3 mt-3">
        <div class="d-flex justify-centent-center align-items-center">
          <i class="bi bi-file-earmark-pdf text-info fs-2"></i>
        </div>
        <div class="mt-3 d-flex justify-centent-center align-items-center">
          <h5 class="fw-bold">Brocheur</h5>
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <div class="d-flex justify-centent-center align-items-center">
          <i class="bi bi-bar-chart-line text-info fs-2"></i>
        </div>
        <div class="mt-3 d-flex justify-centent-center align-items-center">
          <h5 class="fw-bold">Data Sheet</h5>
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <div class="d-flex justify-centent-center align-items-center">
          <i class="bi bi-person-badge text-info fs-2"></i>
        </div>
        <div class="mt-3 d-flex justify-centent-center align-items-center">
          <h5 class="fw-bold">User Manual</h5>
        </div>
      </div>
      <div class="col-md-3 mt-3">
        <div class="d-flex justify-centent-center align-items-center">
          <i class="bi bi-camera-reels text-info fs-2"></i>
        </div>
        <div class="mt-3 d-flex justify-centent-center align-items-center">
          <h5 class="fw-bold">Video</h5>
        </div>
      </div>
    </div>
  </div>

  <section class="position-relative">
    <div class="container sub">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <div class="card rounded-4 border-0 bg-secondary-subtle shadow-lg">
            <div class="row align-items-center p-3">
              <div class="col-md-4">
                <h1 class="fw-bold">Newsletter</h1>
                <p class="text-secondary fw-lighter fs-6">
                  Subscribe and get notification from us
                </p>
              </div>
              <div class="col-md-8">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Your Email:" aria-label="Recipient's username"
                    aria-describedby="basic-addon2" />
                  <div class="input-group-append">
                    <button class="btn btn-primary rounded-0" type="button">
                      Subscribe
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>