<section>
    <div class="main-banner6">
      <div class="container">
        <div class="row text-center about">
          <div class="banner-content p-5 d-flex justify-content-center">
            <h2 class="text-black fw-bold">{{title}}</h2>
            <div class="icon d-none d-lg-block">
              <i class="fa-regular fa-star "></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <section class="mt-5">
    <div class="container p-5">
      <div class="row">
        <div class="col-md-6 p-3">
          <h1 class="fw-bold">{{question}}</h1>
          <p class="fw-light">
          {{description}}
          </p>
          <button class="btn btn-primary">{{button_text}}</button>
        </div>
        <div class="col-md-6" *ngIf="image !=null">
          <img [src]="'http://localhost:8000/About/' + image" alt="" class="img-fluid rounded-4" />
        </div>
      </div>
    </div>
  </section>

  <section class="mt-5">
    <div class="container">
      <div class="row text-center">
        <h1 class="fw-bold">{{title}}</h1>
      </div>
      <div class="row d-flex align-items-center team p-5" style=" overflow-x: auto; ">
        <ng-container *ngFor="let tm of teamList">
        <div class="col-md-1">
          <img [src]="'http://localhost:8000/Our team/' + tm.image" alt="" class="img-fluid" />
        </div>
        <div class="col-md-3">
          <h3 class="fw-light fs-4">{{tm.name}}</h3>
          <h3 class="fw-light fs-6">{{tm.department}}</h3>
        </div>
      </ng-container>
      </div>
    </div>
  </section>
  

  <section class="position-relative">
    <div class="container sub">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <div class="card d-flex rounded-4 border-0 bg-secondary-subtle shadow-lg">
            <div class="row d-flex align-items-center p-3">
              <div class="col-md-4">
                <h1 class="fw-bold">Newsletter</h1>
                <p class="text-secondary fw-lighter fs-6">
                  Subscribe and get notification from us
                </p>
              </div>
              <div class="col-md-8">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Your Email:" aria-label="Recipient's username"
                    aria-describedby="basic-addon2" />
                  <div class="input-group-append">
                    <button class="btn btn-primary rounded-0" type="button">
                      Subscribe
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>