.main-banner2{
    position: relative;
    background: url("/assets/training-min-scaled.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    /* margin-top: 3.7rem; */
  }
  .main-banner3{
    position: relative;
    background: url("/assets/School-min-scaled.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    /* margin-top: 3.7rem; */
  }

  .banner-content2 {
    /* text-align: center; */
    backdrop-filter:  brightness(100%);
    padding-top: 50px;
    padding-bottom: 20rem;
  }
  
  .content-padding {
    padding: 200px 0px;
  }
  .banner-content h1 {
    font-size: 60px;
    text-transform: none;
    line-height: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  .banner-content h6 {
    color: #ffaa00;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 17px;
  }
  
  .banner-content h1 span {
    text-decoration: underline;
  }
  
  .banner-content p {
    width: 70%;
    margin: 15px auto 30px;
  }
  
  .white h1,
  .white h2,
  .white h3,
  .white p {
    color: #fff;
  }
  .main-banner4{
    position: relative;
    background: url("/assets/With-BacBon-Smart-Board.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }  

  .custom-card {
    border: none; 
    background-color: transparent;
  }
  
  .custom-card .card-img-top {
    width: 100%;
  object-fit: cover;
  padding: 50px;
  }
  .custom-card .card-img-top:hover {
    transform: scale(1.1); 
    transition: 1000ms;
  }
  
  .custom-card .card-footer {
    display: flex;
    justify-content: center;
  }
  
  .custom-card .card-body {
    margin: 10px;
  }
  .custom-card .card-body h6:hover{
    color: #007bff;
  }
  .device img:hover{
    transform: scale(1.1); 
    transition: 1000ms;
  }

  .main-banner5{
    position: relative;
    background: url("/assets/testimonial.png");
    -webkit-background-size: cover;
    background-size: cover;
    /* margin-top: 3.7rem; */
  }
  .dark-overlayy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6B87A3;
    opacity: .6;
  }
  .client-image{
    width: 100px;
    height: 100px;
  }
  .sub{
    position: relative;
    top: 35px;
  }
  
  .testimonial{
    margin-top: -141px;
  }


  @media (max-width: 767.98px) {
    .team{
      text-align: center;
    }
    .camera3{
      flex-direction: row;
    }
  }